In [19]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"C:\Users\Parth Trivedi\Desktop\CODING\MachineLearning\interview-chances-predictor\data\raw\placementdata.csv")
df.columns = df.columns.str.strip().str.replace('\u00a0', '', regex=False)
target = "PlacementStatus"

#so accordin to the analysis these our our final parameters on which we'll be training our data also we hav removed HSC and SSC as CGPA denotes the present academics and somewhere or the other they are already affecting our CGPA

In [20]:
final_features=[
    "AptitudeTestScore",
        "Projects",
        "SoftSkillsRating",
        "CGPA",
        "ExtracurricularActivities",
        "Workshops/Certifications",
        "PlacementTraining",
        "Internships"
]
X= df[final_features] #input features
y= df[target] #output label

X.head()

,AptitudeTestScore,Projects,SoftSkillsRating,CGPA,ExtracurricularActivities,Workshops/Certifications,PlacementTraining,Internships
0,65,1,4.4,7.5,No,1,No,1
1,90,3,4.0,8.9,Yes,2,Yes,0
2,82,2,4.8,7.3,Yes,2,No,1
3,85,1,4.4,7.5,Yes,2,Yes,1
4,86,2,4.5,8.3,Yes,2,Yes,1

In [21]:
#mapping the float data to integer so that our data can understand basically ENCODING (object to int)
X.dtypes

AptitudeTestScore              int64
Projects                       int64
SoftSkillsRating             float64
CGPA                         float64
ExtracurricularActivities     object
Workshops/Certifications       int64
PlacementTraining             object
Internships                    int64
dtype: object

ExtracurricularActivities     object
PlacementTraining             object
Need to be changed to integer

In [22]:
#mapping/encoding object to int Encode Binary Categorical Feature
#alsoo we have used .map() and not one-hot as for binary it would add unnecessary columns and we can easiely convert binary varibles using map
X=X.copy()
X["PlacementTraining"]=X["PlacementTraining"].map({
    "Yes":1,
    "No":0
})

X["ExtracurricularActivities"]=X["ExtracurricularActivities"].map({
    "Yes":1,
    "No":0
})
X.dtypes

AptitudeTestScore              int64
Projects                       int64
SoftSkillsRating             float64
CGPA                         float64
ExtracurricularActivities      int64
Workshops/Certifications       int64
PlacementTraining              int64
Internships                    int64
dtype: object

In [23]:
y.head()

0    NotPlaced
1       Placed
2    NotPlaced
3       Placed
4       Placed
Name: PlacementStatus, dtype: object

In [24]:
#we also need to encode our target label 'y'
y=y.map({
    "Placed":1,
    "NotPlaced":0
})
y.dtypes

dtype('int64')

In [25]:
X.head()

,AptitudeTestScore,Projects,SoftSkillsRating,CGPA,ExtracurricularActivities,Workshops/Certifications,PlacementTraining,Internships
0,65,1,4.4,7.5,0,1,0,1
1,90,3,4.0,8.9,1,2,1,0
2,82,2,4.8,7.3,1,2,0,1
3,85,1,4.4,7.5,1,2,1,1
4,86,2,4.5,8.3,1,2,1,1

In [27]:
y.head()

0    0
1    1
2    0
3    1
4    1
Name: PlacementStatus, dtype: int64

In [26]:
X.isnull().sum()

AptitudeTestScore            0
Projects                     0
SoftSkillsRating             0
CGPA                         0
ExtracurricularActivities    0
Workshops/Certifications     0
PlacementTraining            0
Internships                  0
dtype: int64

## Data Preparation Summary

- Final feature set selected based on correlation and domain reasoning.
- Binary categorical variables were encoded numerically.
- Target variable was converted to binary format.
- Dataset is now fully numeric and ready for trainâ€“test split.